body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    float: left;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 390px;
}

.menu{
    float: left;
    padding-left: 430px;
    
}

.menu li{
    float: left;
    font-size: 16px;
    color: white;
    line-height: 60px;
    margin-right: 40px;
    text-transform: uppercase;
}

.menu li a:visited{
    color: white;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;

}
.title__container{
    float: left;
    margin: 404px 0px 0px 432px;
    color: #2c384a;
    text-align: center;
  
}


.title__container h1{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.title__container h4{
    color: #79818d;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
}

.title__container input{
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    cursor: pointer;
    margin: 50px 14px 0px 14px;
}

.about_me_container h2{
    text-align: center;
/*    border-bottom: 4px solid #d17700;*/
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
}

.about_me_container{
    width: 740px;
    margin: 0 auto;
}
.about_me_container img{
    display: block;
    margin: 0 auto;
}
.about_me_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.about_me_container p{
    margin-top: 30px;
    
}

.about_me_container .secondText{
    margin-top: 15px;
}

.skills_container h2{
    text-align: center;
/*    border-bottom: 4px solid #d17700;*/
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
}
.skills_container{
    width: 920px;
    margin: 0 auto;
}
.skills_item{
    float: left;
    width: 230px;
    text-align: center;
}
.clear{
    clear:left;
}

.statistic_container h2{
    text-align: center;
/*    border-bottom: 4px solid #d17700;*/
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
}
.statistic_container{
    width: 940px;
    margin: 0 auto;
}
.statistic_item{
    display: inline-block;
    width: 230px;
    text-align: center;
}
.mySelect{
    display: block;
    width: 890px;
    height: 54px;
    background: #999;
}
