bady{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;      
    height: 60px;
    background: #344051;
}
.logo{
   color: #fff;
   font-size: 25px;
   line-height: 60px;  
    padding-left: 340px;
    float: left;
}
.menu{
    float: left;
    padding-left: 430px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 12px;
    text-transform: uppercase
}
.main{
    width: 100%;
    height: calc(100% - 60px) ;
background: url(../img/%D1%82%D0%B5%D0%BD%D1%8C.png) no-repeat 0px 880px,
    url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat ,
    url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat ;
}

.title_conteiner{
    float: left;
    margin: 404px 0px 0px 432px;
    color: #2c384a;
    text-align: center; 
}
.title_conteiner h1{
    font-size: 60px;
    font-weight: bold;
}
.title_conteiner h4{
    margin: 40px;
    font-size: 22px;
    color: #9398a3;
}
.title_conteiner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6a7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}
.me{
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) no-repeat 890px 40px ;
     width: 100%;      
    height: 500px;
}
.me h2{
   text-align: center;
     margin: 110px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
}
.imgg{
  display: block;
    margin: 0 auto;
}
.xz{
    margin: 20px 570px;
}
.zx{
    margin: 40px 570px;
}
.input{
     margin: 40px 870px;
    border: 2px solid #6f707e;
    padding: 5px  5px 5px 30px;
    border-radius: 7px;
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png)no-repeat 9px 7px
}
.ikonka{  
 margin: 40px 870px;
      
}

.skills_blok{
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 879px 170px no-repeat , url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.jpg)  ; 
    height: 520px;
    padding-top: 8px;
    margin-top: 140px;
    width: 100%
        
}
.skilss h2{
   padding-left: 330px;
    margin: 110px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
}
.skilss{
    margin-left: 400px;
}
.skills_item{
    float: left;
    text-align: center;
    width: 250px;
    padding-left: 80px;
    height: auto;
    
}
.skilss h3{
    color: #e98b10;  
    margin: 35px 0px 20px 0px;
    font-weight: 900;
}
.box h2{
    margin-top: 100px;
   text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
}
.box{
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 892px 54px no-repeat  ,
    url(../img/%D1%84%D0%BE%D1%82%D0%BA%D0%B05.jpg) no-repeat 0px 170px ;   
    height: 1200px; 
}
.zagolovok{
    text-align: center;
    margin-top: 80px;
}
.rzxylitdt{
     display: inline-block; 
}
.CLIENT{
    font-size: 20px;
    color: #384354;
    font-weight: bold;
    margin: 700px 0px 15px 350px;
}
.WBSITE{
    font-size: 20px;
    color: #384354;
    font-weight: bold;
    padding: 15px 0px 15px 350px;
}
.name_proekt h4{
    font-size: 19px;
    color: #384354;
    font-weight: bold;
    margin-bottom: 10px;
}
.text_proekt{
    line-height: 17px;
}
.name_proekt{
    margin: -114px 0px 0px 630px;
    padding-right: 400px;
}
.baton button{
    border: 1px solid #63b5ae;
    background: #63b5ae;
    width: 200px;
    padding: center;
    height: 45px;
    border-radius: 9px;
    color: rgb(255 255 255);
    font-size: 18px;
    margin: 45px 0px 0px 350px;
}
.rzxylitdt p{
    color: #384354;
    margin-left: 350px;
}
.calculation_box h2{
    text-align: center;
    margin: 110px 0px 20px 0px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
}
.calculation{
  
}
.calculation h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 50px
}
.calculation{
    margin-left: 500px;
    
}

select{
 margin-top: 40px;
      width: 65%;  
    height: 55px;
    background: url(../img/1.jpg)no-repeat center
}
.srok{
    margin: 60px 0px 0px 500px;
}
.suma{
     margin: 15px 0px 0px 500px;
}
.stats{
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) no-repeat center 155px ,
 url(../img/%D1%84%D0%BE%D0%BD%D0%BD.jpg)no-repeat center ;
    height: 500px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.stats h2{
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 100px
}
[zxc]{
   float: left;
    text-align: center;
    width: 230px;
    padding-left: 0px;
    height: auto;
}
.stats_xz{
    margin: 125px 0px 0px 435px;
}
[as]{
    padding-bottom: 30px;
}

.stats_xz h3{
    margin-bottom: 25px;
    font-weight: 900;
    font-size: 30px;
}

.reviews{
    text-align: center;
    padding: 300px;
     
     width: 100%;      
    text-align: center;
    height: auto;
    padding: 0px 700px
}
.revie{
     background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) no-repeat center 65px ;
}
.reviews h2{
     text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 100px;
}
[qw]{
    padding-bottom: 35px;;
}
.mixa{
    padding-top: 30px;;
}
.asd{
    font-weight: 800;
}
.contacts{
    background: url(../img/%D0%9E%D1%80%D0%B0%D0%BD%D0%B6%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F%202.jpg)no-repeat center 15px ,url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) no-repeat center 244px , url(../img/%D0%A4%D0%BE%D0%BD%D0%BD%D0%BD.jpg) no-repeat 0px 100px  ; 
    height: 900px;
    
}
.contacts h2{
    color: #ffffff;
    text-align: center;
    margin: 50px 0px 20px 0px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 200px;
}
.sms{
    color: #fff;
    font-size: 25px;
    margin: 70px 0px 0px 800px;
    font-weight: 900;
}
.qwe{
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}
.contakt{
    padding: 40px 0px 0px 670px;
    color: #ffffff;
}
.contakt p{
    padding-top: 15px;
}
.kontakt{
    float: left;
    padding-right: 100px;
    text-align: center;
    margin-bottom: auto;
    color: #ffffff;
}
.kontak{
    width: 500px;
    text-align: center;
    margin-bottom: auto;
    color: #ffffff;
}
.umu{
        box-sizing: border-box;
opacity:0.8;
display: inline;
        float: left;
    margin: 30px 10px 0px 700px;

}
.email{
opacity:0.8;
  margin: 30px 0px 0px 950px;
}
.soobenie{
opacity:0.8;
    margin: 20px 0px 0px 700px;
}
.otpravka{
    color: white;
    background: none;
    margin: 40px 0px 0px 870px;
    border: 2px solid #f9faff;
    padding: 10px 15px ;
    border-radius: 2px;
    display: inline-block;
}

.ikonki{
    visibility: hidden;
}
.map{
width: 100%;
}
.p{
    width: 100%;      
    height: 100px;
    background: #344051;
    color: white;
    padding: 40px 0px 0px 830px;
}